<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/static/styles.css" rel="stylesheet" />
    <script src="../static/main.js" type="module"></script>
  </head>
  <body>
    <h1>Haz click botón</h1>
    <button onclick="ejecutarDeteccion()">Iniciar detección</button>
    <p id="estado"></p>
    <h2>Stream en vivo</h2>
    <img src="{{ url_for('video_feed') }}" width="640" height="480" />
  </body>
</html>
